// TAGs

// CLASSES
.bg-nav{background-color:#071871!important}
.carousel-img{background-color: #fff;}
.destak{color:#191970;}
.navbar{background-color: #071871;}

// IDs
  #section1{background: #DCDCDC;}
  #section2{background: #F0FFFF;}
  #section3{background: #DCDCDC;}
  #section4{background: #FFF;}
  #section5{background: #DCDCDC;}

  // CLASSES
  .nav-link a:hover{color: fff;
  }
