// TAGs

// CLASSES
.bg-nav{background-color:#071871!important}
.carousel-img{background-color: #E5E5E5;}
.destak{color:#191970;}
.navbar{background-color: #071871;}

// IDs
  #section1{background: #F0FFFF;}
  #section2{background: #F0FFFF;}
  #section3{background: #DCDCDC;}
  #section4{background: #FFF;}
  #section5{background: #DCDCDC;}

  // CLASSES
  .div-cards{background: #FFF;
  }
  .nav-link a:hover{color: fff;
  }
  .img-Click{
    background-color:#DCDCDC;
  }
  .copyright{background-color:#071871;color: #D7D7D7;
  }
