// TAGs
body {height: 100%;width: 100%;
}
html {height: 100%;width: 100%;
}
img{padding: 5px;
}

// CLASSES
li.nav-item{margin: 5px;
}
.cards-div{padding: 10px;
}
.card-title{padding-left: 10px;
}
.carousel-caption{top: 30px;
}
.carousel-img{width: 95%;padding: 4px;margin-bottom:5px;
}
.carousel-inner img {height: 100%;margin-top: 10px;
}
.carousel.slide{padding: 0;margin: 0;
}
.center {display: block;margin-left: auto;margin-right: auto;
}
.nav-link{font-size:1.35rem;
}

//NAVEGAÇÃO
.nav-link a:hover{color: fff;
}

// CORES
// TAGs

// CLASSES
.bg-nav{background-color:#071871!important}
.carousel-img{background-color: #fff;}
.destak{color:#191970;}
.navbar{background-color: #071871;}

// DEVICES
@media (max-width:667px){
  #section1{background: #FFF;}
  #section2{background: #F0FFFF;}
  #section3{background: #DCDCDC;}
  #section4{background: #FFF;}
  #section5{background: #DCDCDC;}
}
@media (min-width:668px) {
  #section1{background: #DCDCDC;}
  #section2{background: #F0FFFF;}
  #section3{background: #DCDCDC;}
  #section4{background: #FFF;}
  #section5{background: #DCDCDC;}
}

// DEVICES
@media (max-width:667px) {
  .collapse-carousel-caption {display:none;}
  .first-section{max-height: 80%;padding-top: 50px;}
  .desfault-section{min-height: 100%;padding-top:20px;}
}
@media (min-width:668px) {
  .first-section{min-height: 100%;padding-top: 60px;}
  .desfault-section{min-height: 100%;padding-top: 100px;}
}
