// TAGs
body {height: 100%;width: 100%;}
html {height: 100%;width: 100%;}

//IDs e CLASSES
.desfault-section{width: 100%;}
.carousel-img{width:100%;padding: 2px;}
.btn{margin-bottom: 50px;}
footer.copyright{height:35px;padding:5px;}
p.copyright{float: right;font-size:0.85rem;text-align: right;}

@media only screen and (max-width: 667px) {
  .desfault-section{padding: 90px 5px 15px 5px;;}
  .navbar-toggler{height: 60px;padding-top: 12px;}
  .logo{height: 66px;padding: 2px;}
  .carousel-caption{display: none;}
  form{padding-bottom: 30px;}
}
@media only screen and (min-width: 668px) {
  .desfault-section{padding: 100px 20px 50px 20px;;}
  .navbar{height: 100px;}
  .nav-link{font-size:1.25rem;}
  .logo{height: 90px;padding: 5px;}
  .carousel-caption{top: 15px;}
}
