// TAGs
body {height: 100%;width: 100%;
}
html {height: 100%;width: 100%;
}
.carousel-img{width: 98%;padding: 4px;
}
.carousel-caption{top: 30px;
}
.btn{margin-bottom: 50px;
}
.nav-link{font-size:1.15rem;
}
